@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Garamond, "Times New Roman", serif;
    color: #FFF;
    background-color:#000066
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
}

h1 {
    font-family: Rockwell, Times, serif;
    margin: 1.5rem 1.5rem;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.masthead {
    height: 4rem;
    background-color: yellow;
    overflow: hidden;
}
    
.logo {
    height: 3rem;
    width:auto;
    margin: .5rem;
}

.dropcap:first-letter{
    font-size: 4rem;
    font-weight: bold;
    float: left;
    color: yellow;
    margin: .5rem;
    line-height: .8;
}

em {
    font-style: oblique;
    color: yellow;
}

strong{
    font-weight: bold;
    color: #FF3333;
}

figcaption {
    font-weight: bold
}

summary {
    font-size: 1.5rem;
    font-weight:bold;
    color: #FF3333
}


    
    