@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Garamond, "Times New Roman", serif;
    color: #FFF;
    background-color:#000066
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
}

h1 {
    font-family: Rockwell, Times, serif;
    margin:0;
    padding: 6rem 0 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.masthead {
    height: 4rem;
    background-color: red;
    overflow: hidden;
}
    
.logo {
    height: 3rem;
    width:auto;
    margin: .5rem;
}

.dropcap:first-letter{
    font-size: 4rem;
    font-weight: bold;
    float: left;
    color: yellow;
    margin: .5rem;
    line-height: .8;
}

em {
    font-style: oblique;
    color: yellow;
}

strong{
    font-weight: bold;
    color: #FF3333;
}

figcaption {
    font-weight: bold
}

summary {
    font-size: 1.5rem;
    font-weight:bold;
    color: #FF3333
}

.billboard {
    margin: 1rem;
    padding: 1rem;
    overflow:hidden;
    background-image: url(../images/boyzlogo.svg);
    background-repeat:no-repeat;
    background-size: 25rem;
    background-position: center center;
    border: solid .25rem red;
}

h2 {
    font-size: 2.5rem;
    color: yellow;
    font-weight: bold;
}

blockquote {
    margin: 2rem 4rem;
    overflow: hidden;
}

blockquote p {
    font-size: 1rem;
    padding: .5rem 1rem 0;
}

blockquote span {
    font-weight: bold;
    float: right;
    margin: 2rem 0;
}

blockquote p:before {
    content: "“";
    font-size: 5rem;
    color: yellow;
    float: left;
    margin: -1rem 0 2rem;
    line-height: 6rem;
    
}

blockquote p:after {
    content: "”";
    font-size: 5rem;
    float: right;
    color: yellow;
    margin: -2rem -8rem;
}

footer {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    padding: .1rem 5%;
    background-color: red;
    color: black;
}